<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__top__hover">
            <span><i class="fa fa-user"></i></span>
            <ul>
                <li><a href="#">Log in</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>VND</li>
            </ul>
        </div>
    </div>
    <div class="header__nav__option">
        <a href="#" class="search-switch"><i class="fa fa-search" style="color: grey;"></i></a>
        <a href="#"><i class="fa fa-heart-o" style="color: grey;"></i></a>
        <a href="#"><i class="fa fa-shopping-bag" style="color: grey;"></i> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
